USE [master]
GO
/****** Object:  Database [VideoGames]    Script Date: 07/07/2022 12:14:00 p.m. ******/
CREATE DATABASE [VideoGames]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'VideoGames', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VideoGames.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'VideoGames_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\VideoGames_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [VideoGames].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [VideoGames]
GO
/****** Object:  Table [dbo].[APARTADO_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APARTADO_BRANDON](
	[ID_APARTADO_BRANDON] [int] IDENTITY(1,1) NOT NULL,
	[FECHA_BRANDON] [date] NOT NULL,
	[PRECIO_BRANDON] [float] NOT NULL,
	[ID_PRODUCTO_BRANDON] [int] NOT NULL,
	[RFC_CLIENTE_BRANDON] [varchar](50) NOT NULL,
 CONSTRAINT [PK_APARTADO_BRANDON] PRIMARY KEY CLUSTERED 
(
	[ID_APARTADO_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CATEGORIA_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIA_BRANDON](
	[ID_CATEGORIA_BRANDON] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION_BRANDON] [varchar](50) NOT NULL,
	[STATUS_BRANDON] [tinyint] NOT NULL,
	[NOMBRE_CATEGORIA_BRANDON] [varchar](50) NOT NULL,
 CONSTRAINT [PK_CATEGORIA_BRANDON] PRIMARY KEY CLUSTERED 
(
	[ID_CATEGORIA_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTE_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE_BRANDON](
	[RFC_CLIENTE_BRANDON] [varchar](50) NOT NULL,
	[NOMBRE_CLIENTE_BRANDON] [varchar](50) NOT NULL,
	[APELLIDO_PATERNO_BRANDON] [varchar](50) NULL,
	[APELLIDO_MATERNO_BRANDON] [varchar](50) NULL,
	[DIRECCION_BRANDON] [varchar](50) NULL,
	[EMAIL_BRANDON] [varchar](50) NULL,
	[TELEFONO_BRANDON] [varchar](50) NULL,
 CONSTRAINT [PK_CLIENTE_BRANDON] PRIMARY KEY CLUSTERED 
(
	[RFC_CLIENTE_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRA_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA_BRANDON](
	[ID_COMPRA_BRANDON] [int] IDENTITY(1,1) NOT NULL,
	[FOLIO_COMPRA_BRANDON] [varchar](50) NOT NULL,
	[FECHA_COMPRA_BRANDON] [date] NOT NULL,
	[STATUS_BRANDON] [tinyint] NOT NULL,
	[ID_PROVEEDOR_BRANDON] [int] NOT NULL,
 CONSTRAINT [PK_COMPRA_BRANDON] PRIMARY KEY CLUSTERED 
(
	[ID_COMPRA_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_COMPRA_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_COMPRA_BRANDON](
	[ID_DETALLE_COMPRA_BRANDON] [int] IDENTITY(1,1) NOT NULL,
	[ID_COMPRA_BRANDON] [int] NOT NULL,
	[ID_PRODUCTO_BRANDON] [int] NOT NULL,
	[CANTIDAD_BRANDON] [float] NOT NULL,
	[DESCUENTO_BRANDON] [float] NOT NULL,
	[OBSERVACIONES_BRANDON] [varchar](50) NULL,
 CONSTRAINT [PK_DETALLE_COMPRA_BRANDON] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_COMPRA_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_VENTA_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_VENTA_BRANDON](
	[ID_DETALLE_VENTA_BRANDON] [int] IDENTITY(1,1) NOT NULL,
	[ID_VENTA_BRANDON] [int] NOT NULL,
	[ID_PRODUCTO_BRANDON] [int] NOT NULL,
	[CANTIDAD_BRANDON] [float] NOT NULL,
	[DESCUENTO_BRANDON] [float] NOT NULL,
	[OBSERVACOINES_BRANDON] [varchar](50) NULL,
 CONSTRAINT [PK_DETALLE_VENTA_BRANDON] PRIMARY KEY CLUSTERED 
(
	[ID_DETALLE_VENTA_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADO_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO_BRANDON](
	[ID_EMPLEADO_BRANDON] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_BRANDON] [varchar](50) NOT NULL,
	[APELLIDO_PATERNO_BRANDON] [varchar](50) NULL,
	[APELLIDO_MATERNO_BRANDON] [varchar](50) NULL,
	[DIRECCION_BRANDON] [varchar](50) NULL,
	[EMAIL_BRANDON] [varchar](50) NULL,
	[ID_PUESTO_BRANDON] [int] NOT NULL,
	[ID_HORARIO_BRANDON] [int] NOT NULL,
 CONSTRAINT [PK_EMPLEADO_BRANDON] PRIMARY KEY CLUSTERED 
(
	[ID_EMPLEADO_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HORARIOS_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HORARIOS_BRANDON](
	[ID_HORARIO_BRANDON] [int] IDENTITY(1,1) NOT NULL,
	[DIAS_TABAJADOS_BRANDON] [varchar](50) NULL,
	[HORAS_TRABAJO_BRANDON] [varchar](50) NULL,
	[OBSERVACOINES_BRANDON] [varchar](50) NULL,
 CONSTRAINT [PK_HORARIOS_BRANDON] PRIMARY KEY CLUSTERED 
(
	[ID_HORARIO_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MARCA_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARCA_BRANDON](
	[ID_MARCA_BRANDON] [int] IDENTITY(1,1) NOT NULL,
	[NOMBRE_MARCA_BRANDON] [varchar](50) NOT NULL,
	[STATUS_BRANDON] [tinyint] NOT NULL,
 CONSTRAINT [PK_MARCA_BRANDON] PRIMARY KEY CLUSTERED 
(
	[ID_MARCA_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OFERTA_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFERTA_BRANDON](
	[ID_OFERTA_BRANDON] [int] IDENTITY(1,1) NOT NULL,
	[ID_PRODUCTO_BRANDON] [int] NOT NULL,
	[CANTIDAD_BRANDON] [float] NOT NULL,
	[PRECIO_NORMAL_BRANDON] [float] NULL,
	[PRECIO_OFERTA_BRANDON] [float] NULL,
 CONSTRAINT [PK_OFERTA_BRANDON] PRIMARY KEY CLUSTERED 
(
	[ID_OFERTA_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PERDIDA_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERDIDA_BRANDON](
	[ID_PERDIDA_BRANDON] [int] NOT NULL,
	[ID_PRODUCTO_BRANDON] [int] NOT NULL,
	[CANTIDAD_BRANDON] [float] NOT NULL,
	[PRECIO_BRANDON] [float] NOT NULL,
	[RAZON_BRANDON] [varchar](50) NULL,
	[FECHA_BRANDON] [date] NOT NULL,
	[ID_EMPLEADO_BRANDON] [int] NOT NULL,
 CONSTRAINT [PK_PERDIDA_BRANDON] PRIMARY KEY CLUSTERED 
(
	[ID_PERDIDA_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO_BRANDON](
	[ID_PRODUCTO_BRANDON] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION_PRODUCTO_BRANDON] [varchar](50) NOT NULL,
	[NOMBRE_PROCUCTO_BRANDON] [varchar](50) NOT NULL,
	[PRECIO_BRANDON] [float] NOT NULL,
	[STATUS_BRANDON] [tinyint] NOT NULL,
	[ID_CATEGORIA_BRANDON] [int] NOT NULL,
	[ID_MARCA_BRANDON] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTO_BRANDON] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCTO_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR_BRANDON](
	[ID_PROVEEDOR_BRANDON] [int] IDENTITY(1,1) NOT NULL,
	[RAZON_SOCIAL_BRANDON] [varchar](50) NOT NULL,
	[NOMBRE_CONTACTO_BRANDON] [varchar](50) NULL,
	[DIRECCION_BRANDON] [varchar](50) NULL,
	[TELEFONO_BRANDON] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PROVEEDOR_BRANDON] PRIMARY KEY CLUSTERED 
(
	[ID_PROVEEDOR_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PUESTO_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PUESTO_BRANDON](
	[ID_PUESTO_BRANDON] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPCION_BRANDON] [varchar](50) NULL,
	[NOMBBRE_BRANDON] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PUESTO_BRANDON] PRIMARY KEY CLUSTERED 
(
	[ID_PUESTO_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA_BRANDON]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA_BRANDON](
	[ID_VENTA_BRANDON] [int] IDENTITY(1,1) NOT NULL,
	[FOLIO_BRANDON] [varchar](50) NOT NULL,
	[FECHA_BRANDON] [date] NOT NULL,
	[TOTAL_BRANDON] [float] NOT NULL,
	[RFC_CLIENTE_BRANDON] [varchar](50) NOT NULL,
	[ID_EMPLEADO_BRANDON] [int] NOT NULL,
 CONSTRAINT [PK_VENTA_BRANDON] PRIMARY KEY CLUSTERED 
(
	[ID_VENTA_BRANDON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[APARTADO_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_APARTADO_BRANDON_CLIENTE_BRANDON] FOREIGN KEY([RFC_CLIENTE_BRANDON])
REFERENCES [dbo].[CLIENTE_BRANDON] ([RFC_CLIENTE_BRANDON])
GO
ALTER TABLE [dbo].[APARTADO_BRANDON] CHECK CONSTRAINT [FK_APARTADO_BRANDON_CLIENTE_BRANDON]
GO
ALTER TABLE [dbo].[APARTADO_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_APARTADO_BRANDON_PRODUCTO_BRANDON] FOREIGN KEY([ID_PRODUCTO_BRANDON])
REFERENCES [dbo].[PRODUCTO_BRANDON] ([ID_PRODUCTO_BRANDON])
GO
ALTER TABLE [dbo].[APARTADO_BRANDON] CHECK CONSTRAINT [FK_APARTADO_BRANDON_PRODUCTO_BRANDON]
GO
ALTER TABLE [dbo].[COMPRA_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_BRANDON_PROVEEDOR_BRANDON] FOREIGN KEY([ID_PROVEEDOR_BRANDON])
REFERENCES [dbo].[PROVEEDOR_BRANDON] ([ID_PROVEEDOR_BRANDON])
GO
ALTER TABLE [dbo].[COMPRA_BRANDON] CHECK CONSTRAINT [FK_COMPRA_BRANDON_PROVEEDOR_BRANDON]
GO
ALTER TABLE [dbo].[DETALLE_COMPRA_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_COMPRA_BRANDON_COMPRA_BRANDON] FOREIGN KEY([ID_COMPRA_BRANDON])
REFERENCES [dbo].[COMPRA_BRANDON] ([ID_COMPRA_BRANDON])
GO
ALTER TABLE [dbo].[DETALLE_COMPRA_BRANDON] CHECK CONSTRAINT [FK_DETALLE_COMPRA_BRANDON_COMPRA_BRANDON]
GO
ALTER TABLE [dbo].[DETALLE_COMPRA_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_COMPRA_BRANDON_PRODUCTO_BRANDON] FOREIGN KEY([ID_PRODUCTO_BRANDON])
REFERENCES [dbo].[PRODUCTO_BRANDON] ([ID_PRODUCTO_BRANDON])
GO
ALTER TABLE [dbo].[DETALLE_COMPRA_BRANDON] CHECK CONSTRAINT [FK_DETALLE_COMPRA_BRANDON_PRODUCTO_BRANDON]
GO
ALTER TABLE [dbo].[DETALLE_VENTA_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VENTA_BRANDON_PRODUCTO_BRANDON] FOREIGN KEY([ID_PRODUCTO_BRANDON])
REFERENCES [dbo].[PRODUCTO_BRANDON] ([ID_PRODUCTO_BRANDON])
GO
ALTER TABLE [dbo].[DETALLE_VENTA_BRANDON] CHECK CONSTRAINT [FK_DETALLE_VENTA_BRANDON_PRODUCTO_BRANDON]
GO
ALTER TABLE [dbo].[DETALLE_VENTA_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_VENTA_BRANDON_VENTA_BRANDON] FOREIGN KEY([ID_VENTA_BRANDON])
REFERENCES [dbo].[VENTA_BRANDON] ([ID_VENTA_BRANDON])
GO
ALTER TABLE [dbo].[DETALLE_VENTA_BRANDON] CHECK CONSTRAINT [FK_DETALLE_VENTA_BRANDON_VENTA_BRANDON]
GO
ALTER TABLE [dbo].[EMPLEADO_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_BRANDON_HORARIOS_BRANDON] FOREIGN KEY([ID_HORARIO_BRANDON])
REFERENCES [dbo].[HORARIOS_BRANDON] ([ID_HORARIO_BRANDON])
GO
ALTER TABLE [dbo].[EMPLEADO_BRANDON] CHECK CONSTRAINT [FK_EMPLEADO_BRANDON_HORARIOS_BRANDON]
GO
ALTER TABLE [dbo].[EMPLEADO_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_BRANDON_PUESTO_BRANDON] FOREIGN KEY([ID_PUESTO_BRANDON])
REFERENCES [dbo].[PUESTO_BRANDON] ([ID_PUESTO_BRANDON])
GO
ALTER TABLE [dbo].[EMPLEADO_BRANDON] CHECK CONSTRAINT [FK_EMPLEADO_BRANDON_PUESTO_BRANDON]
GO
ALTER TABLE [dbo].[OFERTA_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_OFERTA_BRANDON_PRODUCTO_BRANDON] FOREIGN KEY([ID_PRODUCTO_BRANDON])
REFERENCES [dbo].[PRODUCTO_BRANDON] ([ID_PRODUCTO_BRANDON])
GO
ALTER TABLE [dbo].[OFERTA_BRANDON] CHECK CONSTRAINT [FK_OFERTA_BRANDON_PRODUCTO_BRANDON]
GO
ALTER TABLE [dbo].[PERDIDA_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_PERDIDA_BRANDON_EMPLEADO_BRANDON] FOREIGN KEY([ID_EMPLEADO_BRANDON])
REFERENCES [dbo].[EMPLEADO_BRANDON] ([ID_EMPLEADO_BRANDON])
GO
ALTER TABLE [dbo].[PERDIDA_BRANDON] CHECK CONSTRAINT [FK_PERDIDA_BRANDON_EMPLEADO_BRANDON]
GO
ALTER TABLE [dbo].[PERDIDA_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_PERDIDA_BRANDON_PRODUCTO_BRANDON] FOREIGN KEY([ID_PRODUCTO_BRANDON])
REFERENCES [dbo].[PRODUCTO_BRANDON] ([ID_PRODUCTO_BRANDON])
GO
ALTER TABLE [dbo].[PERDIDA_BRANDON] CHECK CONSTRAINT [FK_PERDIDA_BRANDON_PRODUCTO_BRANDON]
GO
ALTER TABLE [dbo].[PRODUCTO_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_BRANDON_CATEGORIA_BRANDON] FOREIGN KEY([ID_CATEGORIA_BRANDON])
REFERENCES [dbo].[CATEGORIA_BRANDON] ([ID_CATEGORIA_BRANDON])
GO
ALTER TABLE [dbo].[PRODUCTO_BRANDON] CHECK CONSTRAINT [FK_PRODUCTO_BRANDON_CATEGORIA_BRANDON]
GO
ALTER TABLE [dbo].[PRODUCTO_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_BRANDON_MARCA_BRANDON] FOREIGN KEY([ID_MARCA_BRANDON])
REFERENCES [dbo].[MARCA_BRANDON] ([ID_MARCA_BRANDON])
GO
ALTER TABLE [dbo].[PRODUCTO_BRANDON] CHECK CONSTRAINT [FK_PRODUCTO_BRANDON_MARCA_BRANDON]
GO
ALTER TABLE [dbo].[VENTA_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_BRANDON_CLIENTE_BRANDON] FOREIGN KEY([RFC_CLIENTE_BRANDON])
REFERENCES [dbo].[CLIENTE_BRANDON] ([RFC_CLIENTE_BRANDON])
GO
ALTER TABLE [dbo].[VENTA_BRANDON] CHECK CONSTRAINT [FK_VENTA_BRANDON_CLIENTE_BRANDON]
GO
ALTER TABLE [dbo].[VENTA_BRANDON]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_BRANDON_EMPLEADO_BRANDON] FOREIGN KEY([ID_EMPLEADO_BRANDON])
REFERENCES [dbo].[EMPLEADO_BRANDON] ([ID_EMPLEADO_BRANDON])
GO
ALTER TABLE [dbo].[VENTA_BRANDON] CHECK CONSTRAINT [FK_VENTA_BRANDON_EMPLEADO_BRANDON]
GO
/****** Object:  StoredProcedure [dbo].[proc_buscar_produc]    Script Date: 07/07/2022 12:14:02 p.m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_buscar_produc](
@dato VARCHAR(50)
)
AS
BEGIN

SELECT 
[dbo].[PRODUCTO_BRANDON].[ID_PRODUCTO_BRANDON],
[dbo].[PRODUCTO_BRANDON].[DESCRIPCION_PRODUCTO_BRANDON],
[dbo].[PRODUCTO_BRANDON].[NOMBRE_PROCUCTO_BRANDON],
[dbo].[PRODUCTO_BRANDON].[PRECIO_BRANDON], 
[dbo].[PRODUCTO_BRANDON].[STATUS_BRANDON], 
[dbo].[CATEGORIA_BRANDON].[NOMBRE_CATEGORIA_BRANDON], 
[dbo].[MARCA_BRANDON].[NOMBRE_MARCA_BRANDON]
FROM [dbo].[PRODUCTO_BRANDON]
INNER JOIN [dbo].[MARCA_BRANDON] ON [dbo].[MARCA_BRANDON].[ID_MARCA_BRANDON]=[dbo].[PRODUCTO_BRANDON].[ID_MARCA_BRANDON]
INNER JOIN [dbo].[CATEGORIA_BRANDON] ON [dbo].[CATEGORIA_BRANDON].[ID_CATEGORIA_BRANDON]=[dbo].[PRODUCTO_BRANDON].[ID_CATEGORIA_BRANDON]

WHERE [dbo].[PRODUCTO_BRANDON].[ID_PRODUCTO_BRANDON] LIKE @dato
OR [dbo].[PRODUCTO_BRANDON].[NOMBRE_PROCUCTO_BRANDON] LIKE @dato
OR [dbo].[PRODUCTO_BRANDON].[PRECIO_BRANDON] LIKE @dato
OR [dbo].[PRODUCTO_BRANDON].[STATUS_BRANDON] LIKE @dato
OR [dbo].[CATEGORIA_BRANDON].[NOMBRE_CATEGORIA_BRANDON] LIKE @dato
OR [MARCA_BRANDON].[NOMBRE_MARCA_BRANDON] LIKE @dato

END
GO
USE [master]
GO
